[submodule "yolov5"]
	path = yolov5
	url = git@github.com:ultralytics/yolov5.git
[submodule "object-detection/yolov8"]
	path = object-detection/yolov8
	url = git@github.com:ultralytics/ultralytics.git
